/* ***** BRAND ***** */
/*
  
*/

/* ***** UNIVERSAL STYLES ***** */
* {
  box-sizing: border-box;
  /* Change the box model so that the borders and paddings are no longer added to the total width or the total height that is specified for a box */
  margin: 0;
  padding: 0;
}

body {
  /* The body will act as the parent for all other elements and thus the font family applied to the body tag will get inherited by all the child elements of the body */
  color: #777;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  background-image: linear-gradient(
    to right bottom,
    rgba(109, 213, 237, 0.7),
    rgba(33, 147, 176, 0.7)
  ), url('../img/krista-mangulsone-53122-unsplash.jpg');
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  /* The clip-path property uses x, y coordinates, starting from top left, top right, bottom right, bottom left */
  height: 95vh; 
  /* At every point, the height of the .header element should be 95% of the viewport height */
}